@import "partials/signin";

.root-container {
  padding-top: 4px;
}

.sidebar {
  position: fixed;
  top: 4px;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

span.caret.up {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.animate-repeat.ng-enter, 
.animate-repeat.ng-leave
{ 
  -webkit-transition: 200ms ease all;
  -moz-transition: 200ms ease  all;
  -ms-transition: 200ms ease all;
  -o-transition: 200ms ease  all;
  transition: 200ms ease all;
} 

.animate-repeat.ng-enter.ng-enter-active, 
.animate-repeat.ng-leave {
  opacity: 1;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
  opacity: 0;
}

.animate-repeat.ng-leave-stagger {
    -webkit-transition-delay: 5ms;
    transition-delay: 5ms;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

.animate-repeat.ng-enter-stagger {
    -webkit-transition-delay: 5ms;
    transition-delay: 5ms;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}