<div class="modal-header">
    <h3 class="modal-title">Vous êtes sûr cap'taine ?</h3>
</div>
<div class="modal-body">
	<p>Vous allez supprimer un utilisateur, cliquez sur <strong>Supprimer</strong> pour confirmer, sinon cliquez sur <strong>Annuler</strong>. </p>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" type="button" ng-click="confirm()">Supprimer <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
	<button class="btn btn-default" type="button" ng-click="close()">Annuler <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
</div>