<table class="adonys-calendar">

	<tr>
		<th colspan="7" class="text-center month-label"
			>
			<div class="row">
				<div class="col-xs-12">
					<div class="input-group">
						<input type="text" class="form-control"
							is-open="datePickerMin.opened"
							uib-datepicker-popup="MMMM yyyy"
							datepicker-mode="'month'"
							min-mode="'month'"
							ng-model="activeDate"
							placeholder="Période de"
							max-date="dateMax"
							current-text="Ce mois-ci"
							clear-text="Effacer"
							close-text="Fermer"
							ng-change="filter()"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="datePickerMin.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
			</div>
		</th>
	</tr>
	<tr class="week-row">
		<th class="text-center">Lun.</th>
		<th class="text-center">Mar.</th>
		<th class="text-center">Mer.</th>
		<th class="text-center">Jeu.</th>
		<th class="text-center">Ven.</th>
		<th class="text-center">Sam.</th>
		<th class="text-center">Dim.</th>
	</tr>

	<tr ng-repeat="row in rows" class="date-row">
		<td ng-repeat="date in row" class="text-center" ng-class="{ 'secondary': date.secondary }" uib-popover-template="'app/shared/calendarDirective/templates/popover.html'" popover-trigger="mouseenter" popover-append-to-body="true">
			<div class="date-content" ng-class="{ 'secondary': date.secondary }">
				<div class="half" ng-class="getStyleClass(date.type[0])"></div>
				<div class="half" ng-class="getStyleClass(date.type[1])"></div>
				<span>{{ date.date | date : 'dd' }}</span>
			</div>
		</td>
	</tr>

</table>
