<div class="adonys-legend">
  <h4>Légende :</h4>
  <ul class="list-unstyled">
    <li>
      <span class="legend-badge day-C"></span> Jour Chômé/Férié
    </li>
    <li>
      <span class="legend-badge day-T"></span> Travaillé
    </li>
    <li>
      <span class="legend-badge day-CP"></span> Congé Payé
    </li>
    <li>
      <span class="legend-badge day-RTT"></span> RTT
    </li>
    <li>
      <span class="legend-badge day-PC"></span> Pont Client
    </li>
    <li>
      <span class="legend-badge day-F"></span> Formation
    </li>
    <li>
      <span class="legend-badge day-M"></span> Maladie
    </li>
    <li>
      <span class="legend-badge day-CS"></span> Congé sans Solde
    </li>
    <li>
      <span class="legend-badge day-CE"></span> Congé Exceptionnel (Mariage, Naissance, Décès...)
    </li>
  </ul>
</div>
