<div class="container-fluid">

	<div class="row">
		
		<ng-include src="'app/shared/views/sidebar.html'"></ng-include>

		<div class="main col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" ng-controller="UsersController">

			<form class="form-inline" ng-submit="users.search(filter.search)">
				<div class="form-group">
					<label class="sr-only" for="searchUser">Rechercher un utilisateur</label>
					<input type="search" class="form-control" id="searchUser" placeholder="Rechercher" ng-model="filter.search">
				</div>
				<button type="submit" class="btn btn-default">Rechercher</button>
			</form>

			<table class="table table-striped table-responsive" 
				infinite-scroll="users.nextPage()" 
				infinite-scroll-disabled='users.busy || users.end' 
				infinite-scroll-distance='1'>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
				<tr ng-repeat="user in users.items track by user.id">
					<td>{{ user.id }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.email }}</td>
					<td><a ui-sref="users-detail({ userId: user.id })">Voir</a></td>
				</tr>
			</table>

		</div>

	</div>

</div>