<h2 ng-if="title">{{ title }}</h2>
<form class="form-horizontal" ng-submit="submit(user)">

	<h3>Rôle</h3>
	<div class="btn-group">
		<label class="btn btn-primary" ng-model="user.role" uib-btn-radio="role.name" ng-repeat="role in roles track by role.name">
			{{ role.label }}
		</label>
	</div>

	<h3>Informations</h3>
	<div class="form-group">
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputEmail3" placeholder="Prénom" ng-model="user.firstname">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputEmail3" placeholder="Nom" ng-model="user.lastname">
		</div>
	</div>
	<div class="form-group" ng-if="user.role === 'client'">
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputEmail3" placeholder="Société" ng-model="user.company">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="user.email">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Enregistrer</button>
		</div>
	</div>
</form>