@import "../modules/color";

$calendar-size: 300px;

.adonys-calendar {
	width: 100%;
	max-width: $calendar-size;
	box-shadow: 0 20px 200px 0px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	overflow: hidden;

	th.month-label {
		padding: 10px;
		background-color: #337ab7;
		color: #FFF;
		font-weight: normal;
	}

	tr.week-row th {
		color: #777;
		padding-top: 10px;
	}

	tr.date-row {
		td {
			position: relative;
			width: $calendar-size / 7;
			height: $calendar-size / 7;
			padding: 1px;

			.date-content {
				position: relative;
				display: table;
				width: 100%;
				height: 100%;
				color: #FFF;
				background-color: #CCCCCC;

				&.secondary {
					color: #777;
					background-color: #ffffff;
				}

				.half {
					position: absolute;
					bottom: 0;
					display: block;
					height: 50%;
					width: 100%;

					// &.day-success {
					// 	color: #ffffff;
					// 	background-color: $tag-success;
					// }
					//
					// &.day-warning {
					// 	color: #ffffff;
					// 	background-color: $tag-warning;
					// }
					//
					// &.day-info {
					// 	color: #ffffff;
					// 	background-color: $tag-info;
					// }
				}

				.half:first-child {
					display: block;
					height: 50%;
					top: 0;
					bottom: auto;
				}

				span {
					position: relative;
					display: table-cell;
					vertical-align: middle;
				}
			}

			.background-tag {
				text-align: center;
				position: absolute;
				display: block;
				color: rgba(255, 255, 255, 0.3);
				width: 100%;
				font-size: 23px;
				top: 0;
				bottom: 0;
				line-height: 50px;
				overflow: hidden;
			}
		}
	}
}

.legend-badge {
	display: inline-block;
	height: 1em;
	width: 1em;
	background-color: rgba(0, 0, 0, 0.1);
	vertical-align: middle;
	border-radius: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}

.day-T {
	color: #ffffff;
	background-color: $tag-success;
}

.day-CP {
	color: #ffffff;
	background-color: $tag-warning;
}

.day-RTT {
	color: #ffffff;
	background-color: $tag-info;
}

.day-PC {
	color: #ffffff;
	background-color: $tag-info;
}

.day-F {
	color: #ffffff;
	background-color: $tag-info;
}

.day-M {
	color: #ffffff;
	background-color: $tag-info;
}

.day-CS {
	color: #ffffff;
	background-color: $tag-info;
}

.day-CE {
	color: #ffffff;
	background-color: $tag-info;
}
