@import "../modules/color";

.tag {

	background-color: rgba(0, 0, 0, 0.1);
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;

	color: #fff;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;

	&.tag-success {
		background-color: $tag-success;
		border-color: $tag-success;
	}

	&.tag-info {
		background-color: $tag-info;
		border-color: $tag-info;
	}

	&.tag-warning {
		background-color: $tag-warning;
		border-color: $tag-warning;
	}
}